#image-block
{
    background-image: url('{% static 'main/image/login_back.png'%}');
    background-repeat: no-repeat;
    min-height: 850px;
}


#main-form
{
    border-radius: 40px;
    height:400px;
    width:500px;
    margin-top: 150px;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.25);
}

#button
{
    border-radius: 20px;
    background-color: #4164DF;
}

#help-text
{
    color: #3D3D3D;
}

#form_title
{
    color: #4164DF;
}

